{% extends "index.html" %}
{% block title %}Results{% endblock %}
{% block content %}
    {% if not response.error %}
    <div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h2>Results</h2>
            </div>
            <div class="card-body">

                <p class="card-text">Table of probabilities being offensive by comment:</p>
                <table border="1">
                   <div>&quot;{{response['comment_text']}}&quot;</div> <br>
                   <tr>
                       <th> toxic </th>
                       <th> severe_toxic </th>
                       <th> obscene </th>
                       <th> threat </th>
                       <th> insult </th>
                       <th> identity_hate </th>
                   </tr>
                   <tr>
                       <td>{{ response['0'] }}</td>
                       <td>{{ response['1'] }}</td>
                       <td>{{ response['2'] }}</td>
                       <td>{{ response['3'] }}</td>
                       <td>{{ response['4'] }}</td>
                       <td>{{ response['5'] }}</td>
                   </tr>
                </table><br>

<!--                <div class="card-body">-->
<!--                    <img src="/static/probabilities.png">-->
<!--                </div>-->

               <div class="text-center">
                    <a href="{{ url_for('predict_form') }}" class="btn btn-primary">Back</a>
               </div>
            </div>
        </div>
    {% else %}
        <div class="card">
        <div class="card-header text-center">
            <b>Error</b>
        </div>
        <div class="card-body">
            {% if response.error == 'ConnectionError' %}
                <p class="card-text text-center">ML Serves connection error</p>
            {% else %}
                <p class="card-text text-center">ML Serves error</p>
        {% endif %}
        <div class="text-center">
                <a href="{{ url_for('predict_form') }}" class="btn btn-primary">Back</a>
        </div>
        </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}